<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">A maior e melhor lojinha de café da atualidade!!</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope" style="color: #511f1f;"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone" style="color: #511f1f;"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp" style="color: #511f1f;"></i>(00) 00000-0000</li>
            </ul>
        </address>
    </div>
    <div class="cp">
        <section class="footer__copyrigth">
            &copy; Todos os direitos Reservados.
        </section>
    </div>
</footer>